<div class="container-fluid"></div>
<h5>I mieri preferiti</h5>
<!-- <ul>
  <li *ngFor="let cartItem of preferiti | async; let i = index">
    {{cartItem.name}} {{cartItem.price |currency: "EUR"}} <a (click)="eliminaDaPreferiti(cartItem)" class="btn btn-primary">Elimina</a>
  </li>
</ul> -->


<div class="d-flex flex-wrap justify-content-center p-5">
  <div *ngFor="let cartItem of preferiti | async;" class="card mr-2 mb-2 w-25">

    <div class="card-body">
      <h5 class="card-title">{{ cartItem.name }}</h5>
      <p class="card-text">{{ cartItem.description }}</p>
        <a (click)="eliminaDaPreferiti(cartItem)" class="btn btn-primary">Elimina</a>
    </div>
  </div>

</div>


<a [routerLink]="['/home']"  routerLinkActive="router-link-active">Torna indietro</a>
