<div class="container">
  <div  class="card-body">
    <!-- <input [(ngModel)]="search" (ngModelChange)="avviaRicerca()"><br> -->

    <!-- <form class="search-form"> -->
      <label>Filtro Prodotti</label><br>
      <!-- <label class="mr-5">Nome o Descrizione</label> -->
      <mat-form-field class="example-margin" name="search-label">
        <mat-label>Nome o Descrizione </mat-label>
        <input matInput type="text" [(ngModel)]="search" (ngModelChange)="avviaRicerca()">
        <br>
        <mat-hint align="end">Stai cercando {{search}}</mat-hint>
        <br>
      </mat-form-field><br>
    <!-- </form> -->
  <!-- <input [(ngModel)]="searchPriceFrom" (ngModelChange)="avviaRicerca()"><br> -->

  <!-- <input [(ngModel)]="searchPriceTo" (ngModelChange)="avviaRicerca()"><br> -->
  <label>Prezzo min</label>
<mat-slider
  thumbLabel
  [displayWith]="formatLabel"
  step="5"
  min="0"
  max="2000"
  showTicks
  [(ngModel)]="searchPriceFrom"
  aria-label="units"
  (ngModelChange)="avviaRicerca()">
</mat-slider>
<input [(ngModel)]="searchPriceFrom"><br>
<!-- <input matInput type="number" [(ngModel)]="searchPriceFrom"> -->
<br>
<label>Prezzo max</label>
<mat-slider
  thumbLabel
  [displayWith]="formatLabel"
  step="5"
  min="0"
  max="2000"
  [(ngModel)]="searchPriceTo"
  aria-label="units"
  (ngModelChange)="avviaRicerca()">
</mat-slider>





</div>
</div>
<div class="d-flex flex-wrap justify-content-center p-5">
  <div *ngFor="let product of productsToShow" class="card mr-2 mb-2 w-25">
    <img src='{{"http://localhost:1337"+product.image[0].url}}' style='width: 8rem' class="card-img-top"
      title="{{product.name}}" alt="{{product.name}}">
    <div id="header" class="card-body">
      <h5 class="card-title">{{ product.name }}</h5>
      <div class="card-text">{{ product.description }}</div>
      <div class="card-text">{{ product.prezzo | currency:'EUR'}}</div>
      <div id="header-content" class="d-flex align-content-end flex-wrap">
        <a (click)="aggiungiAlCarrello(product)" class="btn btn-primary mr-2">Aggiungi al carrello</a>
          <a (click)="aggiungiAPreferiti(product)" class="btn btn-primary"><i class="fa fa-star"
              aria-hidden="true"></i></a>
      </div>
    </div>
  </div>

</div>
<div class="container">
  <h5>Il mio carrello</h5>
  <!-- <div class="d-flex flex-wrap justify-content-center p-5">dfd
    <div *ngFor="let cartItem of cart | async" class="card mr-2 mb-2 w-25">
      {{ cartItem.name }}
    </div>
  </div> -->
  <ul>
    <li *ngFor="let cartItem of cart | async; let i = index">
      {{cartItem.name}} {{cartItem.price |currency: "EUR"}} <a (click)="eliminaDaCarrello(cartItem)"
        class="btn btn-primary">Elimina</a>
    </li>
  </ul>

  <a [routerLink]="['/preferiti']" routerLinkActive="router-link-active">Visualizza preferiti</a>
</div>
