#header {
  position: relative;
  min-height: 280px;
}

#header-content {
  position: absolute;
  bottom: 0;
  margin-bottom: 8px;
  left: 10;
}

#header {
  background: rgba(40, 40, 100, 0.25);
}

mat-slider {
  width: 300px;
}

.search-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
